<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddw.userServiceImpl.Usermapper.Usermapper">
    <insert id="insertUser">
   INSERT INTO buyuser(code,pwd) VALUE(#{code},#{pwd})
 </insert>
    <select id="login" resultType="cn.ddw.apiService.userService.pojo.UserEntity">
   SELECT * FROM buyuser WHERE code=#{code} AND pwd=#{pwd}
    </select>
    <insert id="inserPhomeUser">
  INSERT INTO buyuser(phone,pwd)VALUE(#{phone},#{pwd})
    </insert>
</mapper>