<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddw.userServiceImpl.Usermapper.Usermapper">
    <insert id="insertUser">
   INSERT INTO buyuser(code,pwd) VALUE(#{code},#{pwd})
 </insert>
    <select id="insert" resultType="cn.ddw.apiService.userService.pojo.UserEntity">
   SELECT * FROM buyuser WHERE code=#{code} AND pwd=#{pwd}
    </select>
    <insert id="inserPhomeUser">
   INSERT INTO buyuser(phone,pwd)VALUES (#{phone},#{pwd})
    </insert>
    <select id="Login" resultType="cn.ddw.apiService.userService.pojo.UserEntity">
   SELECT * FROM buyuser WHERE phone=#{phone} AND pwd=#{pwd}
    </select>
    <update id="modify">
   UPDATE buyuser SET name=#{name},nickname=#{nickname},sex=#{sex},birthday=#{birthday},phone=#{phone},email=#{email} WHERE id=#{id};
    </update>
    <select id="selectID" resultType="cn.ddw.apiService.userService.pojo.UserEntity">
        SELECT `name`,`nickname`,`sex`,`birthday`,`phone`,`email`FROM buyuser WHERE id=#{id}
    </select>
    <select id="selectPWD" resultType="cn.ddw.apiService.userService.pojo.UserEntity">
       SELECT pwd FROM `buyuser` WHERE id=#{id};
    </select>
     <update id="modifyPWD">
         UPDATE buyuser SET pwd=#{pwd} WHERE id=#{id}
     </update>
    <select id="selectPhone" resultType="cn.ddw.apiService.userService.pojo.UserEntity">
        SELECT phone FROM  buyuser WHERE id=#{id}
    </select>
    <update id="modifyPhone">
        UPDATE buyuser SET phone=#{phone} WHERE id=#{id};
    </update>
</mapper>