<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddw.goodsServiceImpl.mapper.CommodityMapper">
   <select id="getCommodityAll" resultType="Commodity">
     select * from commodity
   </select>
    <select id="getCommodityId" resultType="Commodity">
     select * from commodity where id=#{Id}
   </select>
    <select id="getCommodityType" resultType="Commodity">
     select * from commodity where t_id=#{t_id}
   </select>
</mapper>