<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddw.goodsServiceImpl.mapper.CommodityMapper">
   <select id="getCommodityAll" resultType="Commodity">
     select * from commodity
   </select>
    <!--一对一-->
    <resultMap type="Commodity" id="CommUserMap">
        <!-- order的主键 -->
        <id column="id" property="id" />
        <!-- 映射其他普通列 -->
        <result column="name" property="name" />
        <result property="number" column="number" />
        <result property="price" column="price" />
        <result property="image" column="image" />
        <result property="type" column="type" />
        <result property="c_id" column="c_id" />
        <result property="t_id" column="t_id" />
        <result property="r_id" column="r_id" />
        <result property="deid" column="deid" />
        <result property="said" column="said" />
        <!-- 这种配置类似与使用子查询查询，不用连接查询 -->
        <!-- association ：配置一对一属性 -->
        <!-- property:Order里面的User属性名 -->
        <!-- javaType:属性类型 -->
        <!-- column:当前查询中查询的column指定的数据会作为子查询queryUserById的参数 -->
        <!-- select:子查询的sql语句的ID -->
        <association property="deta" javaType="Details" column="deid" select="getComByDe"/>
        <association property="sid" javaType="Salesvolume" column="said" select="getComBySe"/>
    </resultMap>

    <select id="getComByDe" resultType="Details">
            select * from details where Id=#{Id}
    </select>
    <select id="getComBySe" resultType="Salesvolume">
            select * from salesvolume where id=#{Id}
    </select>



    <select id="getCommodityId" resultMap="CommUserMap">
     SELECT * FROM commodity WHERE id=#{Id}
   </select>



    <select id="getCommodityType" resultType="Commodity">
     select * from commodity where r_id=#{t_id}
   </select>
</mapper>