<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ddw.goodsServiceImpl.mapper.GoodsTypeMapper">
    <select id="getGoodsType" resultType="cn.ddw.apiService.goodsService.entity.Type">
     SELECT * FROM `type` WHERE id=2
   </select>


</mapper>